@model EFDataApp.ViewModels.RegisterModel

<div class="container">
    <h2>Rejestrowanie</h2>
    <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div>
            <div class="form-group">
                <label asp-for="Imie" class="add-label1">Imię</label>
                <input asp-for="Imie" type="text" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="add-label2">Nazwisko</label>
                <input asp-for="Nazwisko" type="text" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ulica" class="add-label3">Ulica</label>
                <input asp-for="Ulica" type="text" class="form-control" />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kod_pocztowy" class="add-label4">Kod pocztowy</label>
                <input asp-for="Kod_pocztowy" type="text" maxlength="6" pattern="[0-9]{2}-[0-9]{3}$" class="form-control" />
                <span asp-validation-for="Kod_pocztowy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miejscowosc" class="add-label5">Miejscowość</label>
                <input asp-for="Miejscowosc" class="form-control" />
                <span asp-validation-for="Miejscowosc" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Email">Введите Email</label><br />
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div>
                <label asp-for="Password">Введите пароль</label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div>
                <label asp-for="ConfirmPassword">Повторите пароль</label><br />
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" />
            </div>
            <div>
                <input type="submit" value="Регистрация" />
            </div>
        </div>
    </form>
</div>